upstream 192.168.1.100:4000 {
    least_conn;
    server 192.168.1.20;
    server 192.168.1.30;
    server 192.168.1.40;
}

server {

    listen 4000;

    location /ping {

        proxy_pass http://192.168.1.100:4000;

    }

}